/*-------------------------------------------*
/* all
/*-------------------------------------------*/

* {
  margin: 0 auto;
  padding: 0;
}

body {
  overscroll-behavior: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

p {
  text-align: left;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.wrapperall{
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* background: radial-gradient(49.86% 53.9% at 56.79% 50.14%, rgba(253, 0, 0, 0.8) 0%, rgba(11, 93, 253, 0.304) 100%), #C4C4C4; */
  margin: 0;
  padding: 0;
}

}
/*-------------------------------------------*
/* header
/*-------------------------------------------*/

.static {     
  width:0;
  /*z-index:2;*/
  height:0;
  position:;
}

.header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 1rem;
  font-size: 20px;
  text-align: center;
  background: radial-gradient(49.86% 53.9% at 56.79% 50.14%, rgba(253, 0, 0, 0.8) 0%, rgba(11, 93, 253, 0.304) 100%), #C4C4C4;
  
}

.menu {
  display: flex;
  position: sticky;
  top: 0;
  margin: 1rem;
  padding: 0;
  background-color:;
}

.menulist {
list-style: none;
padding-top: 1rem;
justify-content: space-between; 
background-color: ;
}
.menuitem {
  display: inline;
  font-weight: bold;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: ;
}

/*-------------------------------------------*
/* body
/*-------------------------------------------*/

.body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  
}

.aboutbox {
  min-height: 500px;
  display: flex;
  justify-content: space-evenly;
}
.aboutpic {
  max-height: 400px;
  max-width: auto;
  margin: 1rem;
  border-radius: 5px;
}
.abouttext {
  justify-content: center;
  width: 20%;
  justify-self: right;  
  margin: 1rem;
}



.leftcolumn {
  float: left;
  width: 50%;
  align-content: center;
}

.rightcolumn {
  display: box;
  float: right;
  width: 25%;
  padding-left: 50px;
  align-content: center;
  text-align: center;
}

.blogtitle {
  margin-bottom: 0.6rem;
  font-size: medium;
  text-align: left;
}

.blog-st {
  margin-bottom: 0.6rem;
  text-align: left;
}

.blog-text {
  font-size: smaller;
  margin-bottom: 1rem;
}

.image {
  background-color: white;
  width: 100%;
  align-content: center;
  border-radius: 5px;
  /*border: 1px solid black;*/
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin-top: 10px;
  padding: 1rem;
  /* border: 1px solid black;*/
}

.card:hover {
 box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*-------------------------------------------*
/* footer
/*-------------------------------------------*/

.footer {
  padding: 20px;
  text-align: center;
  background: rgb(255, 255, 255);
  margin-top: 20px;
}
